/* -------------------------------- 

File#: _1_sticky-banner
Title: Sticky Banner
Descr: A sticky banner that slides in passed a target element or a scrolling offset.
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1rem;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.0736rem;
  }
  
  h2 {
    font-size: 1.728rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(250, 84%, 54%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  @media (min-width: 64rem) {
    body {
      font-size: 1.25rem;
    }
  
    h1 {
      font-size: 3.051rem;
    }
  
      h2 {
      font-size: 2.44rem;
    }
  
      h3 {
      font-size: 1.75rem;
    }
  
      h4 {
      font-size: 1.5625rem;
    }
  }
  
  /* variables */
  :root {
    /* colors */
    --sb9-color-primary-hsl: 250, 84%, 54%;
    --sb9-color-bg-hsl: 0, 0%, 100%;
    --sb9-color-contrast-high-hsl: 230, 7%, 23%;
    --sb9-color-contrast-higher-hsl: 230, 13%, 9%;
    --sb9-color-bg-dark-hsl: 240, 4%, 95%;
    --sb9-color-bg-light-hsl: 0, 0%, 100%;
    --sb9-color-accent-hsl: 342, 89%, 48%;
    --sb9-color-contrast-lower-hsl: 240, 4%, 85%;
  
    /* spacing */
    --sb9-space-md: 1.25rem;
    --sb9-space-xl: 3.25rem;
    --sb9-space-2xl: 5.25rem;
    --sb9-space-sm: 0.75rem;
    --sb9-space-xs: 0.5rem;
  
    /* typography */
    --sb9-text-sm: 0.833rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --sb9-space-md: 2rem;
      --sb9-space-xl: 5.125rem;
      --sb9-space-2xl: 8.25rem;
      --sb9-space-sm: 1.125rem;
      --sb9-space-xs: 0.75rem;
  
      /* typography */
      --sb9-text-sm: 1rem;
    }
  }
  
  /* component */
  .sticky-banner {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  
  .sticky-banner--bottom {
    top: auto;
    bottom: -1px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  
  .sticky-banner--visible {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .sticky-banner:not(.sticky-banner--visible) {
    box-shadow: none;
  }
  

  

  .sb9-max-width-sm {
    max-width: 48rem;
  }
  
  .sb9-container {
    width: calc(100% - 2*var(--sb9-space-md));
    margin-left: auto;
    margin-right: auto;
  }
  
  .sb9-text-center {
    text-align: center;
  }
  
  .sb9-flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .sb9-flex {
    display: flex;
  }
  
  .sb9-min-height-100vh {
    min-height: 100vh;
  }
  
  .sb9-bg-dark {
    --sb9-bg-o: 1;
    background-color: hsla(var(--sb9-color-bg-dark-hsl), var(--sb9-bg-o, 1));
  }
  
  .sb9-max-height-vh {
    max-height: 100vh;
  }
  
  .sb9-padding-md {
    padding: var(--sb9-space-md);
  }
  
  .sb9-backdrop-blur-10 {
    backdrop-filter: blur(10px);
  }
  
  .sb9-bg-light {
    --sb9-bg-o: 1;
    background-color: hsla(var(--sb9-color-bg-light-hsl), var(--sb9-bg-o, 1));
  }
  
  .sb9-padding-y-2xl {
    padding-top: var(--sb9-space-2xl);
    padding-bottom: var(--sb9-space-2xl);
  }
  
  .sb9-shadow-sm {
    box-shadow:0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sb9-bg-opacity-80\% {
    --sb9-bg-o: 0.8;
  }