/* Frederika Kmeťová
ITW druhý projekt
2023/2024
.css file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant';
    scroll-behavior: smooth;
}

:root {
    --first_blue: #9bc0ec;
    --second_blue: #7dace7;
    --third_blue: #5f99e1;
    --fourth_blue: #4186dc;
    --fifth_blue: #1b5296;
    --sixth_blue: #164278;
    --seventh_blue: #10315a;
    --eight_blue: #0b213c;
    --ninth_blue: #465ab6;
    --tenth-blue: #20337f;
    --eleventh-blue: #101e56;
    --twelfth-blue: #060a26;
    --thirteenth-blue-light: #90a3f7;
    --b_black: #000000;
    --w_white: #ffffff;
}

body {
    background-size: cover;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--first_blue);
    text-transform: uppercase;
}

h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--first_blue);
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--tenth-blue);
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.about_subheading {
    font-family: 'Manrope';
    text-transform: uppercase;
    color: var(--fourth_blue);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.about_subheading a {
    color: var(--b_black);
    text-decoration: underline;
    font-size: normal;
    letter-spacing: 0;
    text-align: center;
}

.flashcard {
    position: relative; 
    padding: 20px;
    margin: 0 auto; 
    overflow: hidden; 
}

.flashcard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ninth_blue);
    mix-blend-mode: screen; 
    z-index: -1; 
}

.flashcard p {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    color: black; 
    font-weight: 500;
    text-align: justify;
}

.flashcard .image-wrapper img {
    width: 130px; 
    height: auto;
    border-radius: 20%; 
    float: left; 
    margin-right: 30px; 
}

.section {
    margin: 0;
    padding: 0;
    margin-top: 120px;
    position: center;
}

/* .flashcard::after {
    content: "";
    display: table;
    clear: both;
} */

.education {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.experience {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.languages {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center; 
    gap: 1rem;
    margin-top: 0.5rem;
}

.socials a img {
    margin-top: 0.5rem;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.socials a:hover img {
    transform: scale(1.7); 
}

.container {
    margin: 0 auto;
}

.container .nav_bar {
    background-color: var(--first_blue);
    width: 100%; 
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.5;
}

.logo {
    width: 200px; 
    height: 50px; 
    margin-top: 10px; 
    margin-left: 10px;
    transition: width 0.3s, height 0.3s; 
    z-index: 9999;
}

.logo:hover {
    width: 230px; 
    height: 60px;
}

.menu_button {
    background-color: transparent;
    color: var(--b_black);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed; 
    top: 35px;
    right: 20px; 
    z-index: 2;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu_content {
    position: fixed;
    top: 0;
    right: -200px; 
    width: 200px; 
    height: 100%; 
    background-color: var(--first_blue);
    transition: right 0.9s ease; 
    z-index: 2;
}

.menu_content a {
    font-family: 'Cormorant';
    font-weight: bold;
    color: var(--b_black);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.menu .menu_button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.menu_icon {
    width: 70px; 
    height: 40px; 
    z-index: 9999;
}

.contents {
    margin:0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

.find_me {
    margin: 0;
    padding: 0;
    text-align: center;
}

.bottom .contents {
    text-align: justify;
    width: 80%;
    text-align: center;
}

.bottom .section {
    width: 80%;
    text-align: justify;
}

.card-container {
    position: relative;
    mix-blend-mode: screen;
}

.card {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 70px;
    perspective: 1000px; /* 3D effect */
}

/* first */
.card:nth-child(1) {
    margin-right: auto; 
}
/* last */
.card:nth-child(3) {
    margin-right: auto;
}

/* middle */
.card:nth-child(2) {
    margin-left: auto; 
}

.card-flipped .card-front {
    transform: rotateY(180deg);
}

.card-flipped .card-back {
    transform: rotateY(0deg); 
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    transition: transform 1.5s ease;
    z-index: 2; 
}

.card-front {
    background-color: var(--ninth_blue);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg); 
}

.card-back {
    background-color: var(--tenth-blue);
    border-radius: 20%;
    z-index: 1; 
    transform: rotateY(180deg); 
}

.dropdown-content,
.second-dropdown-content {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 100px; 
    width: 200px;
    height: 200px;
    border-radius: 20%;
    text-align: center;
    background-color: var(--second_blue);
    opacity: 0; 
    transition: opacity 0.8s ease-out, left 0.8s ease-out; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-flipped .dropdown-content {
    opacity: 1; 
    left: calc(100% + 10px); 
    border-radius: 20%;
    mix-blend-mode: lighten;
}

.card-flipped .second-dropdown-content {
    opacity: 1;
    left: calc(145% + 130px); 
    border-radius: 20%;
    mix-blend-mode: lighten;
}

/* First left dropdown */
.dropdown-left-content,
.second-dropdown-left-content  {
    position: absolute;
    padding: 20px;
    top: 0;
    left: -200px; 
    width: 200px;
    height: 200px;
    border-radius: 20%;
    text-align: center;
    background-color: var(--second_blue);
    opacity: 0;
    transition: opacity 0.8s ease-out, left 0.8s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-flipped .dropdown-left-content {
    opacity: 1; 
    left: calc(-265% + 110px); 
    border-radius: 30px;
    mix-blend-mode: lighten;
}

.card-flipped .second-dropdown-left-content {
    opacity: 1; 
    left: calc(-160% + 110px); 
    border-radius: 30px; 
    mix-blend-mode: lighten;
}

.footer {
    text-align: justify;
    margin-top: 30px;
    text-align: center;
}

.footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

/* Hiding webpage for loader */
.container {
    display: none;
}

.container,
.footer {
    display: none;
    transition: opacity 2s ease-in-out;
}

.loaded .container,
.loaded .footer {
    display: block;
}

/* Hide the background image initially */
body {
    background-image: none; 
    transition: opacity 5s ease-in-out;
}

.loaded body {
    background-image: url('img/satin_wallpaper2.jpg'); 
    opacity: 1; 
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    margin-right: 20px;
}

.coffee-loader {
    width: 48px;
    height: 40px;
    background: #000000;
    border-radius: 15% 15% 35% 35%;
    display: inline-block;
    position: relative;
}

.coffee-loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 40px;
    top: 8px;
    border: 4px solid #000000;
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}

.coffee-loader::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    color: #000000;
    top: -15px;
    left: 11px;
    animation: animloader 2s infinite linear;
}

@keyframes animloader {
    0% {
        box-shadow: 2px 0px rgba(0, 0, 0, 0), 12px 0px rgba(0, 0, 0, 0.3), 20px 0px rgba(0, 0, 0, 0);
    }
    50% {
        box-shadow: 2px -5px rgba(0, 0, 0, 0.5), 12px -3px rgba(0, 0, 0, 0.5), 20px -2px rgba(0, 0, 0, 0.6);
    }
    100% {
        box-shadow: 2px -8px rgba(0, 0, 0, 0), 12px -5px rgba(0, 0, 0, 0), 20px -5px rgba(0, 0, 0, 0);
    }
}

.loading-text-loader {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    animation: l19 2s infinite linear;
    position: relative;
}

.loading-text-loader:before {
    content: "Frede...";
}
  
  @keyframes l19 {
     0% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
     4% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
     8% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    12% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    16% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    20% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    24% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    28% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    32% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
    36% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0}
    40%,
    60% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    64% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    68% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    72% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    76% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    80% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    84% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    88% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    92% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    96% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0 #000}
    100% {text-shadow: 
          calc( 0*var(--w)) 0,calc(-1*var(--w)) 0,calc(-2*var(--w)) 0,calc(-3*var(--w)) 0,calc(-4*var(--w)) 0, 
          calc(-5*var(--w)) 0,calc(-6*var(--w)) 0,calc(-7*var(--w)) 0,calc(-8*var(--w)) 0,calc(-9*var(--w)) 0}
  } 

@media screen and (max-width: 768px) {
    
    body {
        padding: 0; 
    }

    .bottom .section {
        width: 80%; 
        margin-top: 100px; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .contents {
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .footer {
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .loader-container {
        margin-left: 30px;
    }

    .card-container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-left: -20px;
        margin-right: -20px;
        margin-top: 50px;
        padding: 0 5px; 
    }

    .card {
        position: relative;
        width: 110px; 
        height: 110px;
        margin: 10px -5px;
    }

    .card img {
        width: 80px;
        height: 80px;
    }
    
    .dropdown-content,
    .second-dropdown-content,
    .dropdown-left-content,
    .second-dropdown-left-content {
        width: 110px;
        height: 110px;
        padding: 10px;
        position: absolute;
        margin-top: 41%; 
        transform: translate(-50%, -50%); 
    }

    .dropdown-left-content,
    .second-dropdown-left-content {
        left: 0;
        right: 0;
    }

    .dropdown-content p,
    .second-dropdown-content p,
    .dropdown-left-content h3,
    .second-dropdown-left-content h3 {
        font-size: 11px;
    }

    .dropdown-left-content p, 
    .second-dropdown-left-content p {
        font-size: 10px;
    }

    .card-back h2 {
        font-size: 15px;
    }

    .card-flipped .second-dropdown-content {
        left: calc(50% + 235px); 
    }

    .card-flipped .dropdown-content {
        left: calc(50% + 120px); 
    }

    .card-flipped .dropdown-left-content{
        left: calc(50% - 120px); 
    }

    .card-flipped .second-dropdown-left-content{
        left: calc(50% - 225px); 
    }

    .dropdown-left-content {
      margin-left: 10px;
    }

    .find_me{
        padding-top: 80px;
    }
}

