* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    scroll-behavior: smooth;
}

.header {
    color: #97b3ff;
    text-align: center;
}

body {
    background-color: #4c629c;
}
