* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header h1 {
    color: #4c629c;
    font-family: 'Helvetica', serif;
}

.header {
    background-color: #97b3ff;
    text-align: center;
}

